@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
    background-color: antiquewhite;
}
.displays{
    font-family: 'Architects Daughter', cursive;
    color: #fd7e14;
    font-weight: bolder;
    background-color: #6610f2;
    border: 3px solid black;
}
.button{
    font-family: 'Architects Daughter', cursive;
    color: #fd7e14;
    font-weight: bolder;
    background-color: #adb5bd;
}
.cuadro {
    font-family: 'Architects Daughter', cursive;
    height: 200px;
    opacity: 0.5;
    transition: opacity 500ms;
    background-color: aliceblue;
    align-content: center;
    border: 3px solid brown;
    border-radius: 1px;
    cursor: pointer;
}
p{
    margin: auto;
}